@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Jacquard 24", sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 1.2rem;
}

header span {
    color: #007bff;
}

body {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 1rem;
    flex-direction: column;
}

main{
    padding: 1rem;
    justify-content: center;
}

/* Jogo */
.memory-game {
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    grid-gap: 10px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    perspective: 1000px;
    background-color: #333;
    padding: 2rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
}

/* Cartas */
.memory-card {
    width: 15rem;
    height: 24rem;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:hover {
    transform: translateY(-5px);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
   transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.memory-card .front-face {
    transform: rotateY(180deg);
}

.memory-card .back-face {
    transform: rotateY(0deg);
}

.memory-card.flipped .front-face {
    transform: rotateY(0deg);
}

.memory-card.flipped .back-face {
    transform: rotateY(180deg);
}
 
/* MARK: Responsividade */

@media screen and (max-width: 1024px) {
    .memory-game {
        grid-template-columns: repeat(5, 1fr);
        width: fit-content;
    }

    .memory-card {
        max-width: 120px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .memory-game {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
    }

    .memory-card {
        max-width: 120px;
        height: 200px;
    }
}

/* Ajustes para telas pequenas (máximo 480px) */
@media screen and (max-width: 480px) {
    .memory-game {
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        width: fit-content;
    }

    .memory-card {
        max-width: 80px;
        height: 150px;
    }

    header h1 {
        font-size: 1.5rem;
    }
}
